[DEFAULTS]
log_file = /var/log/kolla/contrail/contrail-device-manager.log
log_local = 1
log_level = {{ contrail_log_level }}

api_server = {{ kolla_internal_vip_address }}

disc_server_ip = {{ kolla_internal_vip_address }}
disc_server_port = 5998

rabbit_user = {{ rabbitmq_user }}
rabbit_password = {{ rabbitmq_password }}
rabbit_server = {{ kolla_internal_vip_address }}
rabbit_port = {{ rabbitmq_port }}

zk_server_ip = {% for host in groups['zookeeper'] %}{{ hostvars[host]['ansible_' + hostvars[host]['api_interface']]['ipv4']['address'] }}{% if not loop.last %},{% endif %}{% endfor %} 
zk_server_port = 2181

cassandra_server_list = {% for host in groups['cassandra'] %}{{ hostvars[host]['ansible_' + hostvars[host]['api_interface']]['ipv4']['address'] }}:{{ cassandra_thrift_listen_port }} {% endfor %}
