{
    "command": "/usr/bin/supervisord --nodaemon -c /etc/contrail/supervisord_control.conf",
    "config_files": [
        {
            "source": "{{ container_config_directory }}/contrail-control.conf",
            "dest": "/etc/contrail/contrail-control.conf",
            "owner": "root",
            "perm": "0644"
        },
        {
            "source": "{{ container_config_directory }}/contrail-keystone-auth.conf",
            "dest": "/etc/contrail/contrail-keystone-auth.conf",
            "owner": "root",
            "perm": "0644"
        },
        {
            "source": "{{ container_config_directory }}/vnc_api_lib.ini",
            "dest": "/etc/contrail/vnc_api_lib.ini",
            "owner": "root",
            "perm": "0644"
        }
    ]
}
