[DEFAULTS]
host_ip = {{ hostvars[inventory_hostname]['ansible_' + api_interface]['ipv4']['address'] }}
cassandra_server_list = {% for host in groups['cassandra'] %}{{ hostvars[host]['ansible_' + hostvars[host]['api_interface']]['ipv4']['address'] }}:{{ cassandra_thrift_listen_port }} {% endfor %} 

http_server_port = 8090
rest_api_port = 8081
#rest_api_ip = {{ hostvars[inventory_hostname]['ansible_' + api_interface]['ipv4']['address'] }}
rest_api_ip = 0.0.0.0

log_local = 1
log_level = {{ contrail_log_level }}
log_file = /var/log/kolla/contrail/contrail-analytics-api.log

# Sandesh send rate limit can be used to throttle system logs transmitted per
# second. System logs are dropped if the sending rate is exceeded
#sandesh_send_rate_limit = 100

[DISCOVERY]
disc_server_ip = {{ kolla_internal_vip_address }}
#disc_server_ip = 127.0.0.1
#disc_server_port = 5998

[REDIS]
server = {{ hostvars[inventory_hostname]['ansible_' + api_interface]['ipv4']['address'] }}
#server=127.0.0.1
#redis_server_port=6379
#redis_query_port=6379
